* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100vw;
  height: 100vh;
}

/* Intro screen */

.Intro {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;
}

.Intro h1 {
  font-weight: 700;
  font-size: 4rem;
  font-family: 'karla', 'sans-serif';
  margin-bottom: .1em;
}

.Intro button {
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: .5em 1em;
  border-radius: 10px;
  border: none;
  margin-top: .75em;
  cursor: pointer;
}

.Intro button:hover {
  transform:rotate(-5deg) scale(1.1)
}

.blob-bottom, .blob-top {
  position: absolute;
  width: 15em;
}

.blob-bottom {
  left: 0;
  bottom: 0;
}

.blob-top {
  right: 0;
  top: 0;
}

/* Game screen */

.Game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 2em;
  box-sizing: border-box;
}

.Question {
  border-bottom: 1px solid black;
  padding: 1em;
}

.Question h2 {
  margin-bottom: .4em;
}

.Game button {
  margin-right: 2em;
  padding: .5em 1em;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.answers button {
  background-color: transparent;
}

.check-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;

}

