* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'inter', sans-serif;
  width: 100vw;
  height: 100vh;
}

/* Intro screen */

.Intro {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;
}

.Intro h1 {
  font-weight: 700;
  font-size: 4rem;
  font-family: 'karla', 'sans-serif';
  margin-bottom: .1em;
}

.Intro button {
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: .5em 1em;
  border-radius: 10px;
  border: none;
  margin-top: .75em;
  cursor: pointer;
}

.Intro button:hover,
.check-btn:hover, 
.replay-btn:hover {
  transform:rotate(-5deg) scale(1.1)
}

.blob-bottom, .blob-top {
  position: absolute;
  width: 15em;
  z-index: -1;
}

.blob-bottom {
  left: 0;
  bottom: 0;
}

.blob-top {
  right: 0;
  top: 0;
}

/* Game screen */

.Game {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: left;
  height: 100vh;
  max-width: 75%;
  margin: 0 auto;
  padding: 2em;
  box-sizing: border-box;
}

.Question {
  border-bottom: 1px solid black;
  padding: 1em;
}

.Question p {
  margin-bottom: 1em;
  margin-top: 0;
}

.Game button {
  margin-right: 2em;
  padding: .5em 1em;
  font-size: .75rem;
  font-family: inherit;
  border-radius: 10px;
  align-self: center;
}

.answers button {
  background-color: transparent;
  min-width: 8em;
  color: #4D5B9E;
  border: 1px solid #4D5B9E;
}

.answers {
  display: flex;
  justify-content: left;
}

.check-btn, .replay-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
}

span {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: #4D5B9E;
}